/* Flex container */
.app-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 10vh;
  box-sizing: border-box;
}

/* Greeting Styling */
.greeting {
  flex: 1;
  text-align: center;
}

/* Styling for Social Links */
.social-links {
  display: flex;
  align-items: flex-start;
  gap: 1px;
}
